In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('프로기록있는선수들통과.csv')

In [3]:
df = df.reset_index(drop=True)

In [11]:
k = df.groupby(['선수명','대학교','대회년도']).sum()

In [12]:
k = k[k.columns[1:]]

In [13]:
a = k.groupby(['선수명','대학교']).count()

In [14]:
k_new = k.merge(a, how='left',on = ['선수명','대학교'])

In [27]:
k_new = k_new[k_new.columns[:29]]
k_new.columns = ['경기수', '득점 전체', '득점 평균', '2점슛 성공', '2점슛 시도', '3점슛 성공', '3점슛 시도',
       '자유투 성공', '자유투 시도', '공격 리바운드', '수비 리바운드', '평균 리바운드', '전체 어시스트',
       '평균 어시스트', '스틸', '블록', '덩크슛 성공', '덩크슛 시도', '파울(자유튜유)', '파울(자유투무)',
       'IDF', '테크니컬 파울', '굿디펜스', '속공', 'FBF', '턴오버', '팀 리바운드', '팀 턴오버',
       '년수']
k_new

           경기수  득점 전체  득점 평균  2점슛 성공  2점슛 시도  3점슛 성공  3점슛 시도  자유투 성공  자유투 시도  \
선수명 대학교
강권희 동국대학교    3      2      0       1       1       0       1       0       0
    동국대학교    1     11     11       2       3       2       6       1       2
    동국대학교    3     25      8       5      15       5      16       0       0
강병진 건국대학교    2      2      1       1       2       0       0       0       0
    건국대학교    4     23      5       5      11       4      14       1       6
...        ...    ...    ...     ...     ...     ...     ...     ...     ...
홍순규 단국대학교   17    223     13      96     197       0       1      31      46
    단국대학교   22    208     18      95     183       0       0      18      33
    단국대학교   21    148     15      67     148       0       0      14      27
황진원 중앙대학교    4     60     15      17      31       6      19       8       9
    중앙대학교    4     57     14      17      23       2       8      17      20

           공격 리바운드  ...  파울(자유투무)  IDF  테크니컬 파울  굿디펜스  속공  FBF  턴오버  팀 리바운드  \
선수명 대학교             ...
강권희 동국대학교        0  ...         0    0        0     0   0    0    2       0
    동국대학교        2  ...         0    0        0     1   0    0    2       0
    동국대학교        1  ...         4    0        0     3   0    0    7       0
강병진 건국대학교        1  ...         1    0        0     0   0    0    1       0
    건국대학교        8  ...         6    0        0     2   0    0    6       0
...            ...  ...       ...  ...      ...   ...  ..  ...  ...     ...
홍순규 단국대학교       84  ...        15    0        0    14   2    4   48       0
    단국대학교       98  ...        29    0        0    25   4    0   61       0
    단국대학교       53  ...        27    0        0     7  13    2   52       1
황진원 중앙대학교       10  ...         7    0        0     6   1    0    6       0
    중앙대학교        6  ...         4    0        0     2   0    0   14       0

           팀 턴오버  년수
선수명 대학교
강권희 동국대학교      0   3
    동국대학교      0   3
    동국대학교      0   3
강병진 건국대학교      0   3
    건국대학교      0   3
...          ...  ..
홍순규 단국대학교      0   4
    단국대학교      0   4
    단국대학교      0   4
황진원 중앙대학교      0   2
    중앙대학교      0   2

[1652 rows x 29 columns]

In [28]:
emptydf = pd.DataFrame([])

#수정가능 - 마지막년도 가중치 ~ 첫해 가중치 순서임
year2 = [0.7,0.3]
year3 = [0.5,0.3,0.2]
year4 = [0.4,0.3,0.2,0.1]
year5 = [0.4,0.25,0.2,0.1,0.05]

#선수를 구분하기 위한 counter, 선수의 case(년수)를 구분하기 위한 total
counter = 0
total = 0

for idx,row in k_new.iterrows():
    if counter == 0:
        total = int(row['년수'])
        counter = int(row['년수'])    
    if total == 1:
        emptydf = emptydf.append(row,ignore_index = False)
    elif total == 2:
        row= year2[counter-1]*row
        emptydf = emptydf.append(row,ignore_index = False)
    elif total == 3:
        row = year3[counter-1]*row
        emptydf = emptydf.append(row,ignore_index = False)
    elif total == 4:
        row = year4[counter-1]*row
        emptydf = emptydf.append(row,ignore_index = False)
    elif total == 5:
        row = year5[counter-1]*row
        emptydf = emptydf.append(row,ignore_index = False)
    counter -=1

In [29]:
result = emptydf.set_index(k_new.index).reset_index()
result

,선수명,대학교,경기수,득점 전체,득점 평균,2점슛 성공,2점슛 시도,3점슛 성공,3점슛 시도,자유투 성공,...,파울(자유투무),IDF,테크니컬 파울,굿디펜스,속공,FBF,턴오버,팀 리바운드,팀 턴오버,년수
0,강권희,동국대학교,0.6,0.4,0.0,0.2,0.2,0.0,0.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.6
1,강권희,동국대학교,0.3,3.3,3.3,0.6,0.9,0.6,1.8,0.3,...,0.0,0.0,0.0,0.3,0.0,0.0,0.6,0.0,0.0,0.9
2,강권희,동국대학교,1.5,12.5,4.0,2.5,7.5,2.5,8.0,0.0,...,2.0,0.0,0.0,1.5,0.0,0.0,3.5,0.0,0.0,1.5
3,강병진,건국대학교,0.4,0.4,0.2,0.2,0.4,0.0,0.0,0.0,...,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.6
4,강병진,건국대학교,1.2,6.9,1.5,1.5,3.3,1.2,4.2,0.3,...,1.8,0.0,0.0,0.6,0.0,0.0,1.8,0.0,0.0,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647,홍순규,단국대학교,3.4,44.6,2.6,19.2,39.4,0.0,0.2,6.2,...,3.0,0.0,0.0,2.8,0.4,0.8,9.6,0.0,0.0,0.8
1648,홍순규,단국대학교,6.6,62.4,5.4,28.5,54.9,0.0,0.0,5.4,...,8.7,0.0,0.0,7.5,1.2,0.0,18.3,0.0,0.0,1.2
1649,홍순규,단국대학교,8.4,59.2,6.0,26.8,59.2,0.0,0.0,5.6,...,10.8,0.0,0.0,2.8,5.2,0.8,20.8,0.4,0.0,1.6
1650,황진원,중앙대학교,1.2,18.0,4.5,5.1,9.3,1.8,5.7,2.4,...,2.1,0.0,0.0,1.8,0.3,0.0,1.8,0.0,0.0,0.6
1651,황진원,중앙대학교,2.8,39.9,9.8,11.9,16.1,1.4,5.6,11.9,...,2.8,0.0,0.0,1.4,0.0,0.0,9.8,0.0,0.0,1.4

In [30]:
realresult = result.groupby(['선수명','대학교']).sum().reset_index()
realresult

,선수명,대학교,경기수,득점 전체,득점 평균,2점슛 성공,2점슛 시도,3점슛 성공,3점슛 시도,자유투 성공,...,파울(자유투무),IDF,테크니컬 파울,굿디펜스,속공,FBF,턴오버,팀 리바운드,팀 턴오버,년수
0,강권희,동국대학교,2.4,16.2,7.3,3.3,8.6,3.1,10.0,0.3,...,2.0,0.0,0.0,1.8,0.0,0.0,4.5,0.0,0.0,3.0
1,강병진,건국대학교,3.6,10.3,2.2,3.2,8.2,1.2,8.2,0.3,...,3.5,0.0,0.0,1.6,0.0,0.0,4.0,0.0,0.0,3.0
2,강병현,중앙대학교,6.5,99.5,14.6,26.4,42.8,8.9,25.7,20.0,...,12.0,0.0,0.0,6.3,0.0,0.0,14.2,0.0,0.0,4.0
3,강상재,고려대학교,18.9,233.0,22.9,90.9,162.4,10.4,31.0,20.0,...,22.8,0.0,0.2,9.3,8.9,2.6,28.4,0.8,0.0,4.0
4,강우형,경희대학교,6.0,32.5,4.0,11.0,13.6,2.5,5.4,3.0,...,7.5,0.0,0.0,5.4,0.0,0.0,7.5,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,홍석민,동국대학교,18.7,90.2,9.7,27.4,58.0,11.1,32.4,2.1,...,16.7,0.0,0.0,2.8,1.1,0.6,12.9,1.6,0.7,4.0
505,홍성헌,성균관대학교,4.1,59.3,14.3,22.8,54.2,0.0,1.5,13.7,...,5.0,0.0,0.0,7.2,0.0,0.0,6.3,0.0,0.0,3.0
506,홍수화,한양대학교,4.3,55.5,12.5,15.0,26.6,5.8,21.0,8.1,...,7.2,0.0,0.0,3.5,0.0,0.0,12.8,0.0,0.0,4.0
507,홍순규,단국대학교,20.3,186.9,16.1,83.2,173.8,0.0,0.2,20.5,...,24.5,0.0,0.0,14.8,7.3,1.9,54.5,0.8,0.0,4.0
508,황진원,중앙대학교,4.0,57.9,14.3,17.0,25.4,3.2,11.3,14.3,...,4.9,0.0,0.0,3.2,0.3,0.0,11.6,0.0,0.0,2.0

In [31]:
realresult.to_csv('가중평균.csv',encoding = 'utf-8-sig')